{% extends '::adminbase.html.twig' %}

{% block title %}
    Просмотр тура
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Просмотр тура</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" id="name-group">Название</span>
                <input type="text" disabled value="{{entity.name}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="desc-group">Описание</span>
                <input type="text" disabled value="{{entity.desc}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="address-group">Адресс</span>
                <input type="text" disabled value="{{entity.address}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="begin-group">Дата начала</span>
                <input type="text" disabled value="{{entity.begin | date('d-m-Y')}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="end-group">Дата окончания</span>
                <input type="text" disabled value="{{entity.end | date('d-m-Y')}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="places-group">Количество мест</span>
                <input type="text" disabled value="{{entity.places}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="price-group">Стоимость</span>
                <input type="text" disabled value="{{entity.price}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="x-group">X</span>
                <input type="text" disabled value="{{entity.x}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="y-group">Y</span>
                <input type="text" disabled value="{{entity.y}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="category-group">Категория</span>
                <input type="text" disabled value="{{entity.category}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="base-group">База отдыха</span>
                <input type="text" disabled value="{{entity.base}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            
            
            <div class="panel-actions">
                <a class="btn btn-default" href="{{ path('tour') }}">Назад</a>
            </div>
        </div>
    </ul>
{% endblock %}
