{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tour</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Desc</th>
                <td>{{ entity.desc }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Begin</th>
                <td>{{ entity.begin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ entity.places }}</td>
            </tr>
            <tr>
                <th>Empty</th>
                <td>{{ entity.empty }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>X</th>
                <td>{{ entity.x }}</td>
            </tr>
            <tr>
                <th>Y</th>
                <td>{{ entity.y }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tour') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tour_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
