{% extends 'base.html.twig' %}

{% block body %}
    <div class="clearfix">
        <table class="table">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Тип</td>
                    <td>Категория</td>
                    <td>Цена(руб.)</td>
                    <td>Действие</td>
                </tr>
            </thead>
            <tbody>
                {% for tour in tours %}
                    <tr>
                        <td>{{ tour.name }}</td>
                        <td>Тур</td>
                        <td>{{ tour.category.name }}</td>
                        <td class="price">{{ tour.price }}</td>
                        <td>
                            <form method="post" action="{{path('delete_tour_cart', {'id' : tour.id})}}">
                                <input name="_method" value="DELETE" type="hidden"/>
                                <button type="submit" class="btn btn-primary center-block">
                                    Удалить
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% for service in services %}
                    <tr>
                        <td>{{ service.name }}</td>
                        <td>Услуга</td>
                        <td>{{ service.category.name }}</td>
                        <td class="price">{{ service.price }}</td>
                        <td>
                            <form method="post" action="{{path('delete_service_cart', {'id' : service.id})}}">
                                <input name="_method" value="DELETE" type="hidden"/>
                                <button type="submit" class="btn btn-primary center-block">
                                    Удалить
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="total" colspan="2"></td>
                </tr>
            </tbody>
        </table>
        <form method="post" action="{{path('confirm_request')}}">
            <input name="_method" value="PUT" type="hidden"/>
            <button type="submit" class="btn btn-primary pull-right">Оформить заказ</button>
        </form>
    </div>
{% endblock %}

{% block title %}
    Корзина
{% endblock %}

{% block stylesheets %}
    <link href="/web/admin/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/web/css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="/web/admin/js/jquery.min.js"></script>
    <script src="/web/admin/js/bootstrap.min.js"></script>
    <script src="/web/admin/js/calc3.js"></script>
{% endblock %}
