{% extends 'base.html.twig' %}

{% block body %}
        {% for new in news %}
            <div class="tour">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ new.getPhoto() }}" width="100%" style="height:250px"/>
                    </div>
                    <div class="col-md-9">
                        <h4>{{new.name}}</h4>
                        <p>{{new.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <div class="pagination-center">
        {% if pageCount != 0%}
            <ul class="pagination">
                {% for page in pageCount..1 %}
                    {% if loop.index == activePage %}
                        <li  class="active"><a href="/news/page{{loop.index}}">{{loop.index}}</a></li>
                    {% else %}
                        <li><a href="/news/page{{loop.index}}">{{loop.index}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </div>
{% endblock %}

{% block stylesheets %}
    <link href="/web/admin/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/web/css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="/web/admin/js/jquery.min.js"></script>
    <script src="/web/admin/js/bootstrap.min.js"></script>
{% endblock %}
