{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% if categories != NULL %}
            <div class="col-sm-2  col-lg-4 blog-sidebar hidden-xs">
                <div class="sidebar-module">
                    <h4>Категории</h4>
                    {% for category in categories %}
                        <ol class="list-unstyled">
                            {% if category.id == categoryActive %}
                                <li><a class="cursor-pointer boldest" val="{{category.id}}" 
                                       onclick="window.location.href
                                                       = '/services/page1?categoryId=' + $(this).attr('val');" >
                                        {{category.name}}</a></li>
                                    {% else %}
                                <li><a class="cursor-pointer" val="{{category.id}}" 
                                       onclick="window.location.href
                                                       = '/services/page1?categoryId=' + $(this).attr('val');" >
                                        {{category.name}}</a></li>
                                    {% endif %}
                        </ol>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="col-sm-10 col-lg-8  blog-main">
            {% for service in services %}
                <form method="post" action="/services/page{{activePage}}/{{service.id}}">
                    <input name="_method" value="PUT" type="hidden"/>
                    <div class="tour clearfix"> 
                        <div class="clearfix">
                            <div class="col-sm-6">
                                <h4>{{service.name}}</h4>
                                <h5 id="priceForOne" price="{{service.price}}">Цена: {{service.price}}</h5>
                                <h5>Организатор: {%if service.getSublegal() != null %}{{service.getSublegal().getFio()}} {% endif %}</h5>
                                <h5>Описание: {{service.description}}</h5>
                                <h4 class="price">Общая цена: {{service.price}} рублей.</h4>
                            </div>
                            <div class="col-sm-6" id="map" style="height: 300px;">
                                <input id="latX" type="hidden" value="{{ service.X }}"/>
                                <input id="latY" type="hidden" value="{{ service.Y }}"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary center-block">Добавить в корзину</button>
                    </div>
                </form>

            {% endfor %}
            <div class="pagination-center">
                {% if pageCount != 0%}
                    <ul class="pagination">
                        {% for page in pageCount..1 %}
                            {% if categoryActive != null %}
                                {% if loop.index == activePage %}
                                    <li  class="active"><a href="/tours/page{{loop.index}}?categoryId={{categoryActive}}">{{loop.index}}</a></li>
                                    {% else %}
                                    <li><a href="/tours/page{{loop.index}}?categoryId={{categoryActive}}">{{loop.index}}</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if loop.index == activePage %}
                                    <li  class="active"><a href="/tours/page{{loop.index}}">{{loop.index}}</a></li>
                                    {% else %}
                                    <li><a href="/tours/page{{loop.index}}">{{loop.index}}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Услуги
{% endblock %}

{% block stylesheets %}
    <link href="/web/admin/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/web/css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script>
        function initMap() {
            var x = parseFloat($('#latX').val());
            var y = parseFloat($('#latY').val());
            console.log(x + ' ' + y);
            var myLatLng = {lat: x, lng: y};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB32-s1b_NmsJfdZWO3yaV4DT3-tl-SSM&signed_in=true&callback=initMap"></script>
    <script src="/web/admin/js/jquery.min.js"></script>
    <script src="/web/admin/js/bootstrap.min.js"></script>
    <script src="/web/admin/js/calc2.js"></script>
{% endblock %}
