{% extends '::adminbase.html.twig' %}

{% block title %}
    Редактирование субподрядчика
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Редактирование субподрядчика</h3>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form)}}
            <div class="input-group">
                <span class="input-group-addon" id="name-group">{{ form_label(edit_form.fio) }}</span>
                {{ form_widget(edit_form.fio, { 'attr': {'class': 'form-control', 'aria-describedby' : 'name-group', 'placeholder': 'Название'} }) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="base-group">{{ form_label(edit_form.base) }}</span>
                {{ form_widget(edit_form.base, { 'attr': {'class': 'form-control', 'aria-describedby' : 'base-group', 'required': 'true'} }) }}
            </div>
            <div class="panel-actions">
                {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
                <a class="btn btn-default" href="{{ path('sublegal') }}">Назад</a>
            </div>
            {{ form_end(edit_form)}}

            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
