{% extends '::adminbase.html.twig' %}

{% block title %}
    Просмотр базы отдыха
{% endblock %}
{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading panel-header">
            <h3 class="panel-title">Просмотр базы отдыха</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" id="name-group">Название</span>
                <input type="text" disabled value="{{entity.name}}" class="form-control" aria-describedby="input-group-addon"/>
            </div>
            <div class="panel-actions">
                <a class="btn btn-default" href="{{ path('base') }}">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}

{#
{% block body -%}
    <h1>Base</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('base') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('base_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
#}