{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Service</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Base</th>
                <td>{{ entity.base }}</td>
            </tr>
            <tr>
                <th>X</th>
                <td>{{ entity.x }}</td>
            </tr>
            <tr>
                <th>Y</th>
                <td>{{ entity.y }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('service_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
